@using DevDiary.Enums;
@using DevDiary.Services;
@using DevDiary.Services.Interfaces;
@using X.PagedList;
@inject IImageService _ImageService
@inject IBlogService BlogService

@{
    int pageSize = 3;
    int page = 1;
    if (int.TryParse(Context.Request.Query["pageNum"].FirstOrDefault(), out int pageNum))
    {
        page = pageNum;
    }
    IPagedList<BlogPost> blogPosts = (await BlogService.GetPopularBlogPostAsync()).ToPagedList(page, pageSize);
}


<div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
    <div class="sidebar-inner">

        <!-- Start Single Widget  -->
        @*     <div class="axil-single-widget widget widget_categories mb--30">
        <ul>
        <li class="cat-item">
        <a asp-action="Category" asp-controller="BlogPosts" asp-route-categoryName="JavaScript" asp-route-pageNum="1" class="inner">
        <div class="thumbnail">
        <img src="~/assets/images/logo/JS-Logo.png" alt="JS Logo">
        </div>
        <div class="content">
        <h5 class="title">JavaScript</h5>
        </div>
        </a>

        </li>
        <li class="cat-item">
        <a asp-action="Category" asp-controller="BlogPosts" asp-route-categoryName="AI" class="inner">
        <div class="thumbnail">
        <img src="assets/images/logo/AI-Logo.png" alt="AI Logo">
        </div>
        <div class="content">
        <h5 class="title">AI</h5>
        </div>
        </a>
        </li>
        <li class="cat-item">
        <a asp-action="Category" asp-controller="BlogPosts" asp-route-categoryName=".NET" class="inner">
        <div class="thumbnail">
        <img src="~/assets/images/logo/NET-Logo.png" alt=".NET Logo">
        </div>
        <div class="content">
        <h5 class="title">.Net</h5>
        </div>
        </a>
        </li>
        <li class="cat-item">
        <a asp-action="Category" asp-controller="BlogPosts" asp-route-categoryName="Developer" class="inner">
        <div class="thumbnail">
        <img src="assets/images/logo/Developer.Logo.png" alt="Dev Logo">
        </div>
        <div class="content">
        <h5 class="title">Developer</h5>
        </div>
        </a>
        </li>
        </ul>

        </div>  *@


        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="axil-single-widget widget widget_search mb--30">
            <h5 class="widget-title">Search</h5>
            <form asp-action="SearchIndex" asp-controller="BlogPosts">
                <div class="axil-search form-group">
                    <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                    <input type="text" class="form-control" placeholder="Search" name="searchString">
                </div>
            </form>
        </div>
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="axil-single-widget widget widget_postlist mb--30">
            <h5 class="widget-title">Popular on Blogar</h5>
            <!-- Start Post List  -->
            <div class="post-medium-block">
                @foreach (BlogPost blogPost in await BlogService.GetPopularBlogPostAsync(3))
                {
                    <!-- Start Single Post  -->
                    <div class="content-block post-medium mb--20">
                        <div class="post-thumbnail">
                            <a href="post-details.html">
                                <img src="@(blogPost.ImageData != null ? _ImageService.ConvertByteArrayToFile(blogPost.ImageData, blogPost.ImageType, DefaultImage.BlogPostImage) : "/img/Default-Image.png")" alt="Post Images">
                            </a>
                        </div>
                        <div class="post-content">
                            <h6 class="title">
                                <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">
                                    @blogPost.Title
                                </a>
                            </h6>

                            <div class="post-meta">
                                <ul class="post-meta-list">
                                    <li>@blogPost.Created.ToString("MMM dd, yyyy")</li>
                                    <li>@blogPost.Likes.Count @((blogPost.Likes.Count == 1) ? "like" : "likes")</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- End Single Widget  -->

    </div>
</div>